# Gradle 관련 파일 제외
.gradle/
.gradle/caches/
.gradle/wrapper/
build/
out/

# IDE 설정 파일 제외
.idea/
.vscode/

# 로그 파일 제외
*.log

# Python 가상환경 & 캐시 제외
__pycache__/
*.pyc
.venv/

# Node.js 프로젝트 (npm)
node_modules/
package-lock.json
